import os

os.environ['DB_HOST'] = 'localhost'
os.environ['DB_USER'] = 'root'
os.environ['DB_PASSWORD'] = ''
os.environ['DB_NAME'] = 'parking_slot_bot'

os.environ['LOCATION'] = 'wherever'

os.environ['API_KEY'] = ''

os.environ['YOLOV7_DETECT_PATH'] = 'yolov7/detect.py'
os.environ['YOLOV7_WEIGHT_PATH'] = ''
os.environ['YOLOV7_TEST_VIDEO_PATH'] = ''
os.environ['PYTHON_PATH'] = ''